<!DOCTYPE html>
<html>
  <head>
    <title>Tweet Predicter</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">

  </head>
  <body>
    <form action="{{url_for('predict')}}" method="POST" class="decor">
      <div class="form-left-decoration"></div>
      <div class="form-right-decoration"></div>
      <div class="circle"></div>
      <div class="form-inner">
        <h1>Text Sentiment Predictor</h1>
        <textarea placeholder="Type Your Tweet Here..." rows="5"></textarea>
        <button type="submit" href="">P R E D I C T</button>
        <h1 id="result">{{result}}</h1>
      </div>
    </form>
  </body>
</html>
